.vscode/**
.github/**
src/**
scripts/**
assets/**
node_modules/**
coverage/**
.gitignore
.vscodeignore
.nvmrc
.npmrc
pnpm-lock.yaml
package-lock.json
.vscode/**
esbuild.js
eslint.config.mjs
vitest.config.ts
tsconfig.json
**/*.ts
**/*.map
**/*.test.ts
*.vsix
.DS_Store
CONTRIBUTING.md
!dist/**/*.js
!icon.png
